/* Global Styles */
li {
    font-family: 'Roboto Condensed', sans-serif;
}
section {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    max-width: 1050px;
}
.page-title {
    text-align: center;
}
hr {
    border: 1px dashed black;
    max-width: 300px;
    position: relative;
    left: -370px;
    margin-top: 20px;
}
.section-head {
    text-decoration: underline;
}

/* Color Section */
.colors div {
    display: inline-block;
    padding-top: 100px;
    padding-right: 50px;
    margin: 8px;
}
.colors ul {
    list-style: none;
    padding-left: 15px;
}
.color-1 {
    background-color: #fff587;
}
.color-2 {
    background-color: #ff8c64;
}
.color-3 {
    background-color: #ff665a;
}
.color-4 {
    background-color: #7d6b7d;
}
.color-5 {
    background-color: #a3a1a8;
}

/* Font Section */
.roboto-con {
    font-family: 'Roboto Condensed', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;

}
.mali {
    font-family: 'Mali', cursive;

}
h3 {
    font-weight: bold;
    font-size: 20px;
}
.bold-text {
    font-weight: bold;
}
.italic-text {
    font-style: italic;
}
.capital-text {
    text-transform: uppercase;
}
a {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    background-color: #A3A1A8;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 8px;
    text-decoration: none;
    box-shadow: 0px 2px;
}
a:hover {
    color: white;
    background-color: black;
}
a:active {
    color: black;
    background-color: white;
}

/* Styles Section */
h2 {
    font-family: 'Mali', cursive;
    font-weight: bold;
    font-size: 30px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.paragraph p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: normal;
}